{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu Nhóm</title>
    <link rel="stylesheet" href="{%static 'app/css/style_AbloutUs.css' %}">
</head>
<body>
    <div class="title">
        <h2>Giới thiệu thành viên nhóm</h2>
    </div>
    <div class="team-container">         
        <div class="team-member">
            <img src="{%static 'app/images/TranVuMinhNhat.png' %}" alt="Thành viên 1">
            <h3>Trần Vũ Minh Nhật</h3>
            <p>MSSV: 20107151</p>
        </div>

        <div class="team-member">
            <img src="{%static 'app/images/NguyenTuanAnh.png'%}" alt="Thành viên 2">
            <h3>Nguyễn Tuấn Anh</h3>
            <p>MSSV: 20079801</p>
        </div>

        <div class="team-member">
            <img src="{%static 'app/images/NguyenTuanHung.png'%}" alt="Thành viên 3">
            <h3>Nguyễn Tuấn Hùng</h3>
            <p>MSSV: 20103261</p>
        </div>

        <div class="team-member">
            <img src="{%static 'app/images/ThaiTheTrieu.jpg'%}" alt="Thành viên 3">
            <h3>Thái Thế Triều</h3>
            <p>MSSV: 20101351</p>
        </div>
    </div>
</body>
